.bottle-card{
    border: 2px solid seagreen;
    padding: 15px;
    border-radius: 10px;
}

.bottle-card img {
    width: 200px;
}

.purchase-btn {
    background-color: rgb(13, 90, 6);
    color: white;
}